/* Foundations */
/* Gray */
/* Brand Colors */
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
.bg-gray {
  background: #fbfbfb;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Font family */
/* Make text crispier */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Font sizes */
/* Font weights */
html {
  font-size: 100%;
} /*16px*/
body {
  font-family: "Onest", sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  text-wrap: balance;
}

h1 {
  font-size: 4.209rem;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1.1;
}

h2 {
  font-size: 3.157rem;
  font-weight: 600;
  letter-spacing: -1px;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-top {
  text-align: top;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 2.1045rem;
  }
  h2 {
    font-size: 2.8413rem;
  }
  h3 {
    font-size: 1.6583rem;
  }
  h4 {
    font-size: 1.2439rem;
  }
  h5 {
    font-size: 1rem;
  }
}
/* Components */
/* Gray */
/* Brand Colors */
.bg-gray {
  background: #fbfbfb;
}

.btn {
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  border-radius: 0.75rem;
  transition: background 0.2s ease;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
.btn .lucide {
  color: inherit;
}
.btn--small {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}
.btn--small .lucide {
  width: 1rem;
}
.btn--medium {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}
.btn--medium .lucide {
  width: 1rem;
}
.btn--large {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}
.btn--large .lucide {
  width: 1.25rem;
}
.btn--primary {
  background-color: #1f2937;
  border: solid 1px #1f2937;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  color: #ffffff;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(255, 255, 255, 0.075) 0 1px 1px;
}
.btn--primary:hover {
  background-color: #111827;
  border: solid 1px #111827;
}
.btn--primary:active {
  background-color: #030712;
  border: solid 1px #030712;
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
}
.btn--secondary {
  border: solid 1px #d1d5db;
  background-color: #f9fafb;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  color: #374151;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(255, 255, 255, 0.075) 0 1px 1px;
}
.btn--secondary:hover {
  background-color: #f3f4f6;
  color: #191919;
}
.btn--secondary:active {
  background-color: #e5e7eb;
  color: #191919;
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
}
.btn--ghost {
  color: #374151;
}
.btn--ghost:hover {
  background-color: #f3f4f6;
  color: #191919;
}
.btn--ghost:active {
  background-color: #e5e7eb;
  color: #191919;
}
.btn--pill {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  color: #1f2937;
  border: solid 1px #d1d5db;
  border-radius: 4rem;
}
.btn--pill:hover {
  background-color: #f9fafb;
  color: #111827;
}
.btn--pill:active {
  background-color: #f3f4f6;
  color: #030712;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.nav-left {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nav-left ul {
  display: flex;
  gap: 0.5rem;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
}
.dropdown .dropdown-spacer {
  position: absolute;
  display: none !important;
  top: 100%;
  left: 0;
  padding: 0.25rem;
  min-width: 8rem;
}
.dropdown .dropdown-menu {
  position: absolute;
  display: none !important;
  min-width: 8rem;
  padding: 0.5rem;
  border: solid 1px #f3f4f6;
  border-radius: 1rem;
  top: 100%;
  left: 0;
}
.dropdown .dropdown-menu .btn {
  display: flex;
}
.dropdown:hover .dropdown-menu, .dropdown .dropdown-spacer {
  display: flex !important;
  gap: 0.25rem;
  flex-direction: column;
}

.nav-right {
  display: flex;
  gap: 1rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem 2rem;
  gap: 2rem;
  max-width: 1080px;
  margin: auto;
}

.hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.hero-title h1 {
  color: #111827;
}
.hero-title p {
  font-size: 1.777rem;
  color: #4b5563;
  font-weight: 400;
}

.hero-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
}

.hero-video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-video video {
  width: 100%;
  border-radius: 0.5rem;
}
.hero-video .btn {
  margin-top: -1.5rem;
}/*# sourceMappingURL=styles.css.map */