/* Foundations */
/* Gray */
/* Brand Colors */
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
.bg-gray {
  background: #fbfbfb;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Font family */
/* Make text crispier */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Font sizes */
/* Font weights */
html {
  font-size: 100%;
} /*16px*/
body {
  font-family: "Onest", sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  text-wrap: balance;
  font-weight: 1.2;
}

h1 {
  font-size: 4.209rem;
  font-weight: 600;
  letter-spacing: -2px;
}

h2 {
  font-size: 3.157rem;
  font-weight: 600;
  letter-spacing: -1px;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

p {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-top {
  text-align: top;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 2.1045rem;
  }
  h2 {
    font-size: 2.8413rem;
  }
  h3 {
    font-size: 1.6583rem;
  }
  h4 {
    font-size: 1.2439rem;
  }
  h5 {
    font-size: 1rem;
  }
}
/* Components */
/* Gray */
/* Brand Colors */
.bg-gray {
  background: #fbfbfb;
}

.btn {
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  border-radius: 0.75rem;
  transition: background 0.2s ease;
}
.btn--small {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
.btn--medium {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}
.btn--primary {
  background-color: #2563eb;
  border: solid 1px #2563eb;
  color: #ffffff;
}
.btn--primary:hover {
  background-color: #1d4ed8;
}
.btn--primary:active {
  background-color: #1e40af;
}
.btn--secondary {
  border: solid 1px #d1d5db;
  background-color: #ffffff;
  color: #374151;
}
.btn--secondary:hover {
  background-color: #f9fafb;
  color: #191919;
}
.btn--secondary:active {
  background-color: #f3f4f6;
  color: #191919;
}
.btn--ghost {
  color: #374151;
}
.btn--ghost:hover {
  background-color: #f3f4f6;
  color: #191919;
}
.btn--ghost:active {
  background-color: #e5e7eb;
  color: #191919;
}

.btn__ghost {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
  color: #374151;
  font-weight: 500;
}
.btn__ghost:hover {
  background-color: #f3f4f6;
  color: #191919;
}
.btn__ghost:active {
  background-color: #e5e7eb;
  color: #191919;
}

/* Gray */
/* Brand Colors */
.bg-gray {
  background: #fbfbfb;
}

.btn {
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  border-radius: 0.75rem;
  transition: background 0.2s ease;
}
.btn--small {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
.btn--medium {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}
.btn--primary {
  background-color: #2563eb;
  border: solid 1px #2563eb;
  color: #ffffff;
}
.btn--primary:hover {
  background-color: #1d4ed8;
}
.btn--primary:active {
  background-color: #1e40af;
}
.btn--secondary {
  border: solid 1px #d1d5db;
  background-color: #ffffff;
  color: #374151;
}
.btn--secondary:hover {
  background-color: #f9fafb;
  color: #191919;
}
.btn--secondary:active {
  background-color: #f3f4f6;
  color: #191919;
}
.btn--ghost {
  color: #374151;
}
.btn--ghost:hover {
  background-color: #f3f4f6;
  color: #191919;
}
.btn--ghost:active {
  background-color: #e5e7eb;
  color: #191919;
}

.btn__ghost {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
  color: #374151;
  font-weight: 500;
}
.btn__ghost:hover {
  background-color: #f3f4f6;
  color: #191919;
}
.btn__ghost:active {
  background-color: #e5e7eb;
  color: #191919;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.nav-left {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nav-left ul {
  display: flex;
  gap: 0.5rem;
}

.nav-right {
  display: flex;
  gap: 1rem;
}/*# sourceMappingURL=styles.css.map */