.blog {
    @include flex(center, center, column);
    gap: 2rem;
    margin: auto;
    max-width: 1280px;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
}

.blog-card {
    @include flex(center, center, column);
    gap: 0.75rem;
    border: solid 1px $gray-200;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0.75rem;

    img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 4/3;
        background-color: $gray-50;
        border-radius: 0.15rem;
    }

    .post-content {
        width: 100%;
    }
    
}