@import '../foundations/colors';
@import '../foundations/mixins';


.btn {
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.75rem;
    transition: background 0.2s ease;
    @include flex(start, center, row);
    gap: 0.5rem;

    // Icons color
    .lucide {
        color: inherit;
    }

    // Sizes
    &--small {@include btn-size(small)};
    &--medium {@include btn-size(medium)};
    &--large {@include btn-size(large)};

    // Variants
    &--primary {
        background-color: $brand-primary-base;
        border: solid 1px $brand-primary-base;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
        color: $white;
        box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(255, 255, 255, 0.075) 0 1px 1px;

        &:hover {
            background-color: $brand-primary-dark;
            border: solid 1px $brand-primary-dark;
        }
        &:active {
            background-color: $brand-primary-darker;
            border: solid 1px $brand-primary-darker;
            box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
        }
    }

    &--secondary {
        border: solid 1px $gray-300;
        background-color: $gray-50;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
        color: $gray-700;
        box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(255, 255, 255, 0.075) 0 1px 1px;

        &:hover {
            background-color: $gray-100;
            color: $gray-900;
        }
        &:active {
            background-color: $gray-200;
            color: $gray-900;
            box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
        }
    }

    &--ghost {
        color: $gray-700;

        &:hover {
            background-color: $gray-100;
            color: $gray-900;
        }
        &:active {
            background-color: $gray-200;
            color: $gray-900;
        }
    }

    &--pill {
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: $gray-950;
        color: $white;
        border: solid 1px $gray-950;
        border-radius: 4rem;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1, 1.1);
        }

        &:active {
            background-color: $gray-100;
            color: $gray-950;
        }
    }
}

.link {
    color: $brand-primary-base;
    text-decoration: none;
    font-weight: 500;

    &--divider {
        font-weight: 500;
        color: $gray-600;
    }

    &:hover {
        background-color: $gray-50;
        color: $gray-900;
    }
}