.hero {
    @include flex(center, center, column);
@include section-padding;
    gap: 2rem;
    max-width: 1280px;
    margin: auto;
}

.hero-title {
    @include flex(center, center, column);
    text-align: center;
    gap: 1rem;
    max-width: 800px;

    h1 {
        color: $gray-900;
        @include responsive-font($h1)
    }

    p {
        font-size: $h4;
        color: $gray-600;
        font-weight: 400;
        @include responsive-font($h4);
    }
}

.hero-video {
    width: 100%;
    @include flex(center, center, column);

    video {
        width: 100%;
        border-radius: 0.5rem;
        pointer-events: none;
        z-index: -1;
        background-color: $gray-50;
        box-shadow: $box-shadow;
        margin-top: 2rem;
    }

    .btn {
        margin-top: -1.5rem;
    }
}