.hero {
    @include flex(center, center, column);
    padding: 10rem 4rem;
    gap: 2rem;
    max-width: 1080px;
    margin: auto;
}

.hero-title {
    @include flex(center, center, column);
    text-align: center;
    gap: 1rem;

    h1 {
        color: $gray-900;
    }

    p {
        font-size: $h4;
        color: $gray-600;
        font-weight: 400;
    }
}

.hero-actions {
    @include flex(center, center, row);
    gap: 1rem;
    margin-bottom: 2rem;
}

.hero-video {
    width: 100%;
    @include flex(center, center, column);

    video {
        width: 100%;
        border-radius: 0.5rem;
        pointer-events: none;
        z-index: -1;
        background-color: $gray-50;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    .btn {
        margin-top: -1.5rem;
    }
}