.hiw {
    overflow: visible;
    position: relative;
}

.hiw-bg {
    position: absolute;
    top: 2rem;
    width: 100vw;
    height: 65%;
    background-color:$gray-100;
    pointer-events: none;
}

.hiw-wrapper {
    @include flex(center, center, column);
    @include section-padding;
    position: relative;
    gap: 3rem;
    max-width: 1280px;
    margin: auto;
    overflow: hidden;

    .hiw-title {
        @include flex(center, center, column);
        gap: 1rem;
        max-width: 800px;

        h2 {
            text-align: center;
            @include responsive-font($h2)
        }
    
        p {
            font-size: $h5;
            text-align: center;
            color: $gray-600;
        }
    }
    
    img {
        width: 100%;
        max-width: 900px;
        display: block;
        pointer-events: none;
      }

    .mobile-image {
        display: none;
    }

    @media screen and (max-width: $bp-mobile) {
        img {
            display: none;
        }

        .mobile-image {
            display: block;
        }
    }

}

