.hiw {
    overflow: visible;
    position: relative;
}

.hiw-bg {
    position: absolute;
    top: 2rem;
    left: -2rem;
    width: 150%;
    height: 70%;
    background-color:$gray-100;
    pointer-events: none;
    transform: rotate(2deg);
}

.hiw-wrapper {
    @include flex(center, center, column);
    position: relative;
    padding: 8rem 4rem 8rem 4rem;
    gap: 3rem;
    max-width: 1080px;
    margin: auto;
    overflow: hidden;

    .hiw-title {
        @include flex(center, center, column);
        gap: 0.5rem;

        h2 {
            text-align: center;
        }
    
        p {
            font-size: $h5;
            text-align: center;
            color: $gray-600;
        }
    }
    
    img {
        width: 100%;
        display: block;
        pointer-events: none;
      }

    .mobile-image {
        display: none;
    }

    .hiw-actions {
        @include flex(center, center, row);
        gap: 1rem;
    }
}

