.hiw {
    overflow: visible;
    position: relative;
}

.hiw-bg {
    position: absolute;
    top: 2rem;
    width: 100vw;
    height: 65%;
    background-color:$gray-100;
    pointer-events: none;
    // transform: rotate(2deg);
}

.hiw-wrapper {
    @include flex(center, center, column);
    position: relative;
    padding: 8rem 4rem 8rem 4rem;
    gap: 3rem;
    max-width: 1280px;
    margin: auto;
    overflow: hidden;

    .hiw-title {
        @include flex(center, center, column);
        color: $gray-900;
        gap: 0.5rem;
        max-width: 800px;

        h2 {
            text-align: center;
        }
    
        p {
            font-size: $h5;
            text-align: center;
            color: $gray-600;
        }
    }
    
    img {
        width: 100%;
        max-width: 900px;
        display: block;
        pointer-events: none;
      }

    .mobile-image {
        display: none;
    }

    .hiw-actions {
        @include flex(center, center, row);
        gap: 1rem;
    }
}

